{port_env, [
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -licuuc -licui18n -licudata -lstdc++ "}
            ]}.
{port_specs, [
            {"priv/ustring_nifs.so", ["c_src/ustring.c",
                                      "c_src/icu4e.c"]},
            {"priv/ubrk_nifs.so", ["c_src/ubrk.c",
                                   "c_src/icu4e.c"]}
           ]}.

