{port_env, [
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -licuuc -licui18n -licudata -lstdc++ "}
            ]}.
{port_specs, [
            {"priv/ustring_nifs.so", ["c_src/ustring.o",
                                      "c_src/icu4e.o"]},
            {"priv/ubrk_nifs.so", ["c_src/ubrk.o",
                                   "c_src/icu4e.o"]}
           ]}.

